@model PartyInvites.Models.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Successful Registration</title>
</head>
<body>
    <div>
        <h1>
            <h1>Welcome @Model.Firstname!</h1>
            Your registration has been successful!
    </div>
</body>
</html>
